@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: #e5e5e5;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #050505;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border: 1px solid #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #bf00ff;
  /* Neon Violet Hover */
}

/* Custom Cursor */
body {
  cursor: crosshair;
  /* Fallback */
}

a,
button,
.cursor-pointer {
  cursor: pointer;
}

::selection {
  background: #bf00ff;
  /* Neon Violet */
  color: #fff;
}